h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 0px;
}
.loginpage {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(238, 238, 238, 255);
  margin: 10px;
}
.formcontainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  align-self: center;
}
.loginform {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  align-self: center;
  background-color: white;
  margin-top: 10%;
  border: 1px solid #dbdbdb;
}
.inputfields {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* margin: 10px; */
  /* align-items: center; */
}
.loginbutton {
  display: flex;
  width: 80%;
}
.option {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 5px;
  justify-content: center;
  align-items: center;
}
.thinking {
  display: flex;
  flex-direction: row;
  width: 50%;
  border: solid 1px #dbdbdb;
  margin-top: 15px;
  justify-content: center;
  background-color: white;
}
.pictures {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
